<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

{% include meta.html %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
    {% include analytics.html %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>//(function(n,t,i,r){var u,f;n[i]=n[i]||{},n[i].initial={accountCode:"CMPNY23433",host:"CMPNY23433.pcapredict.com"},n[i].on=n[i].on||function(){(n[i].onq=n[i].onq||[]).push(arguments)},u=t.createElement("script"),u.async=!0,u.src=r,f=t.getElementsByTagName("script")[0],f.parentNode.insertBefore(u,f)})(window,document,"pca","//CMPNY23433.pcapredict.com/js/sensor.js")</script>
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/"><img class="site-avatar" src="{{ site.avatar }}" alt="Image of Ronan Sprake" title="Home" /></a>

          <div class="site-info">
            <h1 class="site-name">{{ site.name }}</h1>
            <p class="site-description">UX Designer</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
    <script>
      function onSubmit(token) {
        document.getElementById("contact").submit();
      }
    </script>
  </body>
</html>
