---
layout: default
---

<article class="post{{ page.listingclass }}">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->

  {% include disqus.html %}
</article>

<form class="contact" action="https://getform.io/f/18cb19c0-2098-4f57-82ca-e61c30c434c3" method="POST">
  {% if page.listingclass == "sticky" %}
  <p>Want to get in touch? Drop me a line.</p>
  {% else %}
  <p>Agree or disagree? Drop me a line, or just say hi!</p>
  {% endif %}
  <label for="frm-message">Your message</label>
  <textarea id="frm-message" name="message" rows="3"></textarea>
  <div>
    <label for="frm-name">Name (optional)</label>
    <input id="frm-name" type="text" name="name" />
  </div>
  <div>
    <label for="frm-email">Email (optional)</label>
    <input id="frm-email" type="email" name="email" />
  </div>
  <button type="submit">Send</button>
</form>
